@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Thin";
  font-size: clamp(1rem, 0.5vw + 0.5rem, 5rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-Medium";
}

h2 {
  font-size: 1.6em;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

#return-arrow {
  justify-self: start;
  margin-left: 15px;
  font-size: 1.4rem;
  color: black;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2;
}

footer {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  font-size: 1.3rem;
}

footer > h2 {
  color: white;
  font-family: "Shrikhand-Regular";
  font-size: 1.3rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "roboto-regular";
}

footer div {
  display: flex;
  align-items: center;
}

footer i {
  margin-right: 10px;
  font-size: 1rem;
  width: 1rem;
}

.fa-hands-helping {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  footer p {
    font-size: 1rem;
  }
}
.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px white solid;
  border-radius: 30px;
  box-shadow: 2px 2px 2px #d1d1d1;
  font-family: "Roboto-Regular";
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: all 250ms ease;
}

.btn:hover {
  opacity: 0.85;
  cursor: pointer;
  transform: perspective(500px) translateZ(10px);
  box-shadow: 4px 4px 4px #d1d1d1;
}

#main-img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

main {
  background-color: #f4f4f4;
  border: 10px #f4f4f4;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  position: relative;
  margin-top: -53px;
  z-index: 100;
  align-items: center;
}

#title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-family: "Shrikhand-Regular";
  font-size: 1.7em;
}

.heart {
  font-size: 1.3rem;
  position: relative;
}

.empty-heart {
  position: absolute;
  right: 15px;
  top: 10px;
}

.full-heart {
  position: absolute;
  right: 15px;
  top: 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: all 400ms;
}

.heart:hover .full-heart {
  transform: scale(1.2);
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

section div {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  box-shadow: -2px 8px 10px rgba(0, 0, 0, 0.08);
  min-width: 0;
}

.detail-meal {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  min-width: 0;
  box-shadow: none;
  flex-grow: 1;
  padding: 15px;
}

section div > p {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

section span {
  align-self: flex-end;
  display: block;
  width: 10%;
  font-family: "roboto-medium";
  padding: 15px;
  margin-right: 1.5rem;
}

.title-border::after {
  content: "";
  display: block;
  width: 50px;
  margin-top: 5px;
  border-bottom: #99E2D0 3px solid;
}

h2 {
  font-size: 1.1rem;
  font-family: "roboto-regular";
}

@keyframes sliding_up {
  from {
    transform: translateY(40px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  right: -80px;
  top: 25%;
  content: "\f058";
  color: white;
  transition: right 450ms;
}

.item {
  overflow: hidden;
}

.item::after {
  content: "";
  width: 80px;
  background-color: turquoise;
  transition: all 450ms;
  border-radius: 0 15px 15px 0;
  margin-right: -80px;
}

.item:hover::after {
  margin-right: 0;
}

.item:hover::before {
  right: 24px;
  transform: rotate(720deg);
  transition: transform 450ms;
}

.item1 {
  animation: sliding_up 800ms 50ms ease-out forwards;
}

.item2 {
  animation: sliding_up 800ms 100ms ease-out forwards;
}

.item3 {
  animation: sliding_up 800ms 150ms ease-out forwards;
}

.item4 {
  animation: sliding_up 800ms 200ms ease-out forwards;
}

.item5 {
  animation: sliding_up 800ms 250ms ease-out forwards;
}

.item6 {
  animation: sliding_up 800ms 300ms ease-out forwards;
}

.item7 {
  animation: sliding_up 800ms 350ms ease-out forwards;
}

.item8 {
  animation: sliding_up 800ms 400ms ease-out forwards;
}

.item9 {
  animation: sliding_up 800ms 450ms ease-out forwards;
}

.item10 {
  animation: sliding_up 800ms 500ms ease-out forwards;
}

@media screen and (min-width: 1024px) {
  #main-img {
    aspect-ratio: 5/2;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  section h2 {
    grid-column: 1/-1;
  }

  .entrees {
    animation: sliding_up 800ms 0ms ease-out forwards;
  }

  .plats {
    animation: sliding_up 800ms 100ms ease-out forwards;
  }

  .desserts {
    animation: sliding_up 800ms 200ms ease-out forwards;
  }
}

/*# sourceMappingURL=restaurant.css.map */
