.btn {
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    border: 0px white solid;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(209,209,209);
    font-family: 'Roboto-Regular';
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: all 250ms ease;
}


.btn:hover {
    opacity: 0.85;
    cursor: pointer;
    transform: perspective(500px) translateZ(10px);
    box-shadow: 2px 6px 4px rgb(209,209,209);
}