.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(229,229,229);
    box-shadow: inset 0px 12px 3px -10px rgb(177 177 177);
}

.location p {
    padding: 15px 0;
    font-family: 'Roboto-Regular';
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 35px;
    text-align: center;   
    background: linear-gradient(rgb(244,244,244), rgb(231,231,231))
}

.instructions {
    margin: 3rem 1.2rem 3rem 1.6rem;
}

.instructions h2 {
    margin: 20px 0px;
}

.instructions div {
    border: 1px $color-background solid;
    border-radius: 20px;
    background-color: $color-background;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: -2px 8px 10px hsl(0deg 0% 0% / 8%);
    position: relative;
    display: flex;
    justify-content: center;
    width: min(100%, 500px);
}

.instructions i{
    margin-right: 20px;
    margin-left: 10px;
}

.instructions-step:hover {
    background-color: rgb(243,232,254);
}

.instructions-step:hover i {
    color: $color-primary;
}

.instructions span {
    background-color: $color-primary;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    position: absolute;
    left: -13px;
    font-family: 'Roboto-Regular';
    font-size: 0.8rem;
}

.instructions p {
    font-family: "Roboto-Regular";
}

.restaurants {
    background-color: $color-background;
    padding: 50px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.restaurants article {
    border-radius: 20px;
    border: 0px white solid;
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
}

.new::before {
    content: "Nouveau";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Roboto-Regular';
}

.restaurants img {
    aspect-ratio: 8/4;
    width: 100%;
    object-fit: cover;
    border: 0px white solid;
    border-radius: 20px 20px 0 0;
    height: 70%;
}

main div {
    background-color: white;
    border: 0px white solid;
    border-radius: 0 0 20px 20px;
    padding: 0.4rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.card-text {
    flex-direction: column;
    align-items: flex-start;
}

.restaurants a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 3/2;
}

.restaurants i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.restaurants span {
    display: none;
}

.restaurants i:hover span{
    display: inline;
    color: linear-gradient($color-secondary, $color-primary);
}


.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: rgba(100,100,100,40%);
}

.loader-animation {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-primary;
    animation: spin 2s linear infinite;
}

.loader-animation::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-secondary;
    animation: spin 3s linear infinite;
}

.loader-animation::after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-tertiary;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 768px) {
    .instructions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
    }
    .restaurants h2{
        grid-column: 1/-1;
        justify-self: start;
    }
}