@import "../Components/spinner";
@import "../Components/button";
@import "../Components/heart";

h1 {
    font-size: 1.6rem;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(229,229,229);
    box-shadow: inset 0px 12px 3px -10px rgb(177 177 177);
}

.location p {
    padding: 15px 0;
    font-family: 'Roboto-Regular';
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 35px;
    text-align: center;   
    background: linear-gradient(rgb(244,244,244), rgb(231,231,231))
}

.instructions {
    // margin: 3rem 1.2rem 3rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions h2 {
    margin: 20px;
    align-self: start;
}

.instructions-step {
    border: 1px $color-background solid;
    border-radius: 20px;
    background-color: $color-background;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: -2px 8px 10px hsl(0deg 0% 0% / 8%);
    position: relative;
    display: flex;
    width: min(100%, 300px);
}

.instructions i{
    margin-right: 20px;
    margin-left: 10px;
}

.instructions-step:hover {
    background-color: rgb(243,232,254);
    cursor: pointer;
}

.instructions-step:hover i {
    color: $color-primary;
}

.instructions span {
    background-color: $color-primary;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    position: absolute;
    left: -13px;
    font-family: 'Roboto-Regular';
    font-size: 0.8rem;
}

.instructions-text{
    display: flex;
    align-items: center;
}

.instructions p {
    font-family: "Roboto-Regular";
}

.restaurants {
    background-color: $color-background;
    padding: 50px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.restaurants article {
    border-radius: 20px;
    border: 0px white solid;
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
}

.new::before {
    content: "Nouveau";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Roboto-Regular';
}

.restaurants img {
    aspect-ratio: 8/4;
    width: 100%;
    object-fit: cover;
    border: 0px white solid;
    border-radius: 20px 20px 0 0;
    height: 70%;
}

main div {
    background-color: white;
    border: 0px white solid;
    border-radius: 0 0 20px 20px;
    padding: 0.4rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.card-text {
    flex-direction: column;
    align-items: flex-start;
}

.restaurants a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 3/2;
}

@media screen and (min-width: 768px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
    }
    .restaurants h2{
        grid-column: 1/-1;
        justify-self: start;
    }
}