@import "../Components/button";
@import "../Components/heart";

#main-img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}


main {
    background-color: rgb(244 244 244);
    border: 10px rgb(244 244 244);
    border-radius: 35px 35px 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    margin-top: -53px;
    z-index: 100;
    align-items: center;
}

#title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-family: 'Shrikhand-Regular';
    font-size: 1.7em;
}


section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

section div {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    box-shadow: -2px 8px 10px hsl(0deg 0% 0% / 8%);
    min-width: 0;
}

.detail-meal{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-width: 0;
    box-shadow: none;
    flex-grow: 1;
    padding: 15px;
}

section div > p, h3 {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

section span {
    align-self: flex-end;
    display: block;
    width: 10%;
    font-family: "roboto-medium";
    padding: 15px;
    margin-right: 1.5rem;
}

.title-border::after {
    content: "";
    display: block;
    width: 50px;
    margin-top: 5px;
    border-bottom: $color-tertiary 3px solid;
}

h2 {
    font-size: 1.1rem;
    font-family: "roboto-regular";
}

@keyframes sliding_up {
    from {
        transform: translateY(40px);
        opacity: .10;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.item::before {
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 2rem;
position: absolute;
right: -80px;
top: 25%;
content: "\f058";
color: white;
transition: right 450ms;
}

.item {
    overflow: hidden;
}

.item::after {
    content: "";
    width: 80px;
    background-color: turquoise;
    transition: all 450ms;
    border-radius: 0 15px 15px 0;
    margin-right: -80px;
}

.item:hover::after {
    margin-right: 0;
    cursor: pointer;
}

.item:hover::before {
    right: 24px;
    transform: rotate(720deg);
    transition: transform 450ms;
    cursor: pointer;
}

@for $i from 1 to 11 {
    .item#{$i} {
        animation: sliding_up 800ms $anim-delay*$i ease-out forwards;
    }
}


@media screen and (min-width: 1024px) {
    #main-img {
        aspect-ratio: 5/2;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    section h2 {
        grid-column: 1/-1;
    }

    .entrees {
        animation: sliding_up 800ms 0ms ease-out forwards;
    }
    .plats {
        animation: sliding_up 800ms 100ms ease-out forwards;
    }
    .desserts {
        animation: sliding_up 800ms 200ms ease-out forwards;
    }
}