footer {
    background-color: rgb(40 40 40);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 1.5rem;
}

footer h2 {
    color: white;
    font-family: 'Shrikhand-Regular';
}

footer a {
    text-decoration: none;
    color: white;
}