footer {
    background-color: rgb(40 40 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    font-size: 1.3rem;
}

footer > h2 {
    color: white;
    font-family: 'Shrikhand-Regular';
    font-size: 1.3rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "roboto-regular";
}

@media screen and (min-width: 1024px) {
    footer {
        flex-direction: row;
        gap: 3.5rem;
        font-size: 1.3rem;
    }
}