header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#return-arrow {
    justify-self: start;
    margin-left: 15px;
    font-size: 1.4rem;
    color: black;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
}